* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4, 96, 235);
    background-color: rgba(223, 246, 255, .5);
    width: fit-content;
    padding: 4px;
}
h5{
    color: rgb(4, 96, 235);
    background-color: rgba(223, 246, 255, .5);
    padding: 4px;
    width: fit-content;
}
p{
    font-size: 17px;
}
.container{
    position: relative;
}
.image {
    position: relative;
    background-size: cover;
    opacity: .8;
    width: 100%;
    height: 100vh;
}
.split{
    width: 21.07rem;
    height: 20rem;
    opacity: .6;
}
.cassette{
    width: 21.07rem;
}
.title{
    position: absolute;
    top: 5px;
    width: 40rem;
}
.services-title{
    position: absolute;
    top: 16rem;
    margin: 1rem;
    font-size: small;
}
.main-content{
    position: absolute;
    top: 19rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
}
.contact{
    position: absolute;
    top: 53rem;
    margin: 1rem;
}
.contact-us{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
}
.footer{
    color: gray;
    background-color: rgba(0, 0, 0, .9);
    width: 21.1rem;
    font-family: sans-serif;
}

@media (min-width: 350px) {
    
    .title{
        margin: 1rem;
        width: 20rem;
    }
    .title-paragraph{
        margin-top: 10px;
        font-size: 15px;
        font-weight: 600;
        text-align: justify;
        width: 19rem;
        color: rgb(6, 40, 61);
        background-color: rgba(223, 246, 255, .3);
    }
    p{
        font-size: 14px;
        padding: 8px;
    }
    .cleaning, .repair, .installation, .reprocess {
        padding-left: 5px;
        padding-top: 15px;
        background-color: rgba(223, 246, 255, .3);
    }
    .main-content{
        width: 19rem;
    }
    .footer{
        position: absolute;
        top: 68rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-title{
        font-size: medium;
        padding-left: 8.5rem;
    }
    .footer-contact{
        font-size: medium;
        padding-left: 3rem;
    }
    .footer-copyright{
        font-size: x-small;
        padding-left: 2.5rem;
    }
    
}
